
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <form action="/music/save" method="post">
            歌手：<input type="text" name="UserName">
            歌曲：<input type="text" name="Musics">
            歌单：<input type="text" name="Content">
            <input type="submit" value="保存"><input type="reset" value="重置">
        </form>
    </div>
</body>
</html>
