@model WebApplication1.ViewModel.MusicViewModel

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @*@Model.UserName  
        @Model.MusicName  
        @Model.MusicContent*@  

    </div>
</body>
</html>
