@model WebApplication1.ViewModel.ListViewModel
@{
    ViewBag.Title = "Songsheet";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Songsheet</title>
</head>
<body>
    <div>
        @foreach (var item in Model.MusicViewList)
        {
            <ul class="nav">
                @Html.DisplayFor(modelItem => item.MusicContent)
            </ul>
        }
    </div>
</body>
</html>


