
@{
    ViewBag.Title = "Friend";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Friend</title>
</head>
<body>
    <div>
        <div class="jumbotron">
            <h1>关注明星  发现精彩</h1>
            <p class="lead">你可以关注明星和好友品味他们的私房歌单</p>
            <p>通过他们的动态发现更多精彩音乐</p>
            <p><a href="~/Views/Home/Login.cshtml" class="btn btn-primary btn-lg">立即登陆 &raquo;</a></p>
        </div>
    </div>
</body>
</html>
