
@{
    ViewBag.Title = "MyMusic";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyMusic</title>
</head>
<body>
    <div>
        <div class="jumbotron">
            <h1>登陆网易云音乐</h1>
            <p class="lead">查看并管理你收藏的释放音乐，</p>
            <p>方便地随时随地收听</p>
            
            <p class="btn btn-primary btn-lg">@Html.ActionLink("立即登陆", "Login", "Home") &raquo;</p>
        </div>
    </div>
</body>
</html>
